<div class="container">
    <h2>Person Details</h2>
    <button class="add-button" (click)="openForm()">+ Add Person</button>
  
    <table>
      <thead>
        <tr>
          <th>Fullname</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{ person.fullName }}</td>
          <td>{{ person.address }}</td>
          <td>{{ person.city }}</td>
          <td>{{ person.state }}</td>
          <td>{{ person.zipCode }}</td>
          <td>{{ person.phoneNumber }}</td>
          <td>
            <button class="icon-btn" (click)="editPerson(person.id)">✏️</button>
            <button class="icon-btn delete-btn" (click)="deletePerson(person.id)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  